/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License:none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
	line-height:1;
	overflow-y:scroll;
    font-family:sans-serif;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}

.clear:after {
	content:"";
	display:table;
	clear:both;
	}
	
strong {
	font-weight:bold;
	}

.carousel
{
    height:400px;
    overflow:hidden;
    position:relative;
    width: 711px;
    margin: 0 auto 10px;    
    
}
.carousel li
{
    position:absolute;
    display:block;
    
}
.pager img
{
    width:40px;
    height:40px;
    cursor:pointer;
}
.pager a
{
    margin: 0px 5px;
    display:inline-block;
}
.pager a.active
{
    margin: 0px 4px;
    border: 1px solid blue;
}

#wrapper
{
    width:1000px;
    margin: 50px auto;
    text-align:center;
}

h1
{
    font-size:18px;
    font-weight:bold;
    margin:30px 0px 10px;
}